#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: wilarsantos # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDdhbbB7rp2Wu7pTR0DxdkzQOccyOIDTjD/ElyZg4VHWRko1tkYyQV+Wga3SvDQXELSHFRxqIG+UTOH8JK9rtACLuQa4hyPje6TRHzagt/SmhglweGemWiHsn57DuvdE0fQqTqCIpgyQy/alpBInErZqImR50ycVNV/eCpg/5spiI9JtWEzBPE2FJNLkAgImoyLKc24ssOzHHIUQhZqM+UBp5v7pPdYGWDBP63L3VWyY//fI7vYW9FqD6YCA9ZKVVHVXdcYMHtNbPx1yvHh4AKOtY9PD6yMbeX5NlUQsckkxmGTf7h966iO2Kh9R5rjuVoLD56tkqjOtOLRmAJ8zee1xGiQryzHgFI5P7TZlvm+G7d8VsSx01upVrxQE9lziX5NNsojzMvk1mTbnP9Y6O9ofMtHXoyHYoOkPCt1iQJSQiTzd0AMqycMrwqTg+XCjRDSPoP4ulQZB2oyn9a0oTJPD3xFjbixIw7vAP5DSCfNNbnIYLcnwrDcgHkoCNKJ91M= wilarsantos@wilarsantos
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
